@define-color bg #0a0314;
@define-color fg #e0e6ff;
@define-color gray1 #3298fa;
@define-color gray2 #aa5abc;
@define-color gray3 #b82aff;
@define-color gray4 #3df2f2;
@define-color gray5 #5cb960;
@define-color fg_bright #ffffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}